.task_column{
  margin: 20px;
  
}
.task_column_heading{
  margin-bottom: 15px;
}
.tasks_column_icon{
    width: 17px;
    margin-right:5px;
    
}
.app_main{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}